{% extends('base.html.twig') %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to my first Symfony Project</h1>
        <p class="lead">This is a simple app to create and manage posts.</p>
        <hr class="my-4">
        <p>It was constructed with the Symfony framework and Doctrine, for database storage and object mapping.</p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Login</a>
        </p>

    </div>
{% endblock %}